<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{base :: head}"></head>
<body>

<div th:replace="~{base :: logo}"></div>

<div class="container">
<div th:replace="~{base :: titulo('Novo Pedido')}" />

    <div class="card mt-3">
        <form th:object="${pedidoRequest}" class="card-body" action="/pedido/novo" method="post">
            <div class="form-group">
                <label for="productName">Produto</label>
                <input th:field="*{productName}" th:errorclass="is-invalid" class="form-control" type="text"
                       placeholder="Nome do produto"/>
                <small>Informe qual o nome do produto</small>
                <div class="invalid-feedback" th:errors="*{productName}">
                    Erros do nome do produto
                </div>
            </div>
            <div class="form-group">
                <label for="productUrl">URL</label>
                <input th:field="*{productUrl}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Url do produto"/>
                <small>Procure em um site o produto que deseja e cole a URL da pagina aqui</small>
                <div class="invalid-feedback" th:errors="*{productUrl}">
                    Erros da url do produto
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Imagem</label>
                <input th:field="*{imageUrl}" th:errorclass="is-invalid" class="form-control" type="text" placeholder="Url da imagem"/>
                <small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores</small>
                <div class="invalid-feedback" th:errors="*{imageUrl}">
                    Erros da url da imagem as
                </div>
            </div>
            <div class="form-group">
                <label for="description">Descrição</label>
                <textarea th:field="*{description}" class="form-control" type="text"
                          placeholder="Adicione detalhes importantes para ajudar o comprador"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </form>
    </div>

</div>

</body>
</html>